asset/image/\[dot\]touhou_gamejam_dot_pack_2021/*.png
asset/image/\[dot\]touhou_gamejam_dot_pack_2021/*.txt
asset/image/\[dot\]touhou_gamejam_dot_pack_2021/Omake/*
asset/image/\[dot\]touhou_gamejam_dot_pack_2021/Split/*